* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input {
  width: 220px;
  height: 30px;
  border-radius: 4px;
}

button {
  width: 60px;
  height: 30px;
  background-color: #3b3fb4;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:disabled {
  background-color: #e4e4e4;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  
}

.label {
  text-transform: uppercase;
}

.value {
  display: flex;
  justify-content: center;
  font-size: 24px;
}